<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- <add key ="Mode" value ="Daily"/>-->
    <add key = "Mode" value = "Interval"/>
    <add key = "ScheduledTime" value = "00:05"/>
    <add key = "IntervalMinutes" value = "15"/>
    <add key = "MuestraLog" value  ="S"/>
    <add key = "PathLog" value = "C:\"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>